<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Dashboard</title>
</head>
<body>
	<form action="/searchWH" method="post">
		<input name="id" th:value="${param.id}" placeholder="ID Kho">
		<button>tìm kiếm</button>
	</form>
	<table  border="1" style="width:100% ; font-size: large; text : center;">
		<tr>
			<td>ID</td>
			<td>Address</td>
			<td>capacity</td>
			<td>name</td>
			<td>phone</td>
			<td>User_id</td>
			<td></td>
		</tr>
	<c:forEach th:each="item :${WHitems}">
		
		<tr>
			<td><span th:text="${item.id}"></span></td>
			<td><span th:text="${item.address}"></span></td>
			<td><span th:text="${item.capacity}"></span></td>
			<td><span th:text="${item.name}"></span></td>
			<td><span th:text="${item.phone}"></span></td>
			<td><span th:text="${item.user.username}"></span></td>
			<td><a th:href="'/warehouse/edit/'+${item.id}">Edit</a></td>
		</tr>
	</c:forEach>
	</table>
	<!--<button type="button"><a href="/List_warehouse?p=0">First</a></button>
	<button type="button"><a href="/List_warehouse?p=${page.number-1}">Previous</a></button>
	<button type="button"><a href="/List_warehouse?p=${page.number+1}">Next</a></button>
	<button type="button"><a href="/List_warehouse?p=${page.totalPages-1}">Last</a></button>-->
	


</body>
</html>