<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Dashboard</title>
<script src="/lib/jquery/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fontawesome-free-6.4.2-web/css/all.min.css">	
<link rel="stylesheet" href="/css/admin/menu.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
	<div id="containerMenu">
		<!--Menu-->
		<div class="menu">
			<div class="logo">
				<a href="/dashboard"><img src="/images/icon-logo.png" width="80px"></a>
			</div>
			
			<ul>
				<a href="/dashboard"><li><span class="icon"><i class="fa-solid fa-gauge"></i></span>Dashboard</li></a>
				
				<a href="/users"><li><span class="icon"><i class="fa-solid fa-users"></i></span>Khách hàng</li></a>
				
				<a href="/staff"><li><span class="icon"><i class="fa-solid fa-users"></i></span>Nhân viên</li></a>
				
				<li class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-package" aria-expanded="false" aria-controls="menu-product">
					<div><span class="icon"><i class="fa-solid fa-box-open"></i></span>Gói hàng</div>
					<span class="right"><i class="fa-solid fa-angle-right"></i>
				</li>
				<ul class="collapse show-menuMini" id="menu-package">
			    	<a href="/package/addPackage"><li><span class="icon"><i class="fa-solid fa-plus"></i></span>Xuất kho</li></a>
			    	<a href="/packages"><li><span class="icon"><i class="fa-solid fa-list"></i></span>Danh sách</li></a>
				</ul>
				
				<li class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-product" aria-expanded="false" aria-controls="menu-product">
					<div><span class="icon"><i class="fa-solid fa-boxes-stacked"></i></span>Kho hàng</div>
					<span class="right"><i class="fa-solid fa-angle-right"></i>
				</li>
				<ul class="collapse show-menuMini" id="menu-product">
			    	<a href="/warehouse/addWareHouse"><li><span class="icon"><i class="fa-solid fa-plus"></i></span>Thêm kho</li></a>
			    	<a href="/warehouses"><li><span class="icon"><i class="fa-solid fa-list"></i></span>Danh sách</li></a>
				</ul>
				
				<a href="/trip"><li><span class="icon"><i class="fa-solid fa-truck"></i></span>Phương tiện</li></a>
			</ul>
		</div>
		
		<!--nav-->
		<div class="header navbar-expand-lg">
			<div class="d-flex align-items-center">
				<div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="p-1" style="margin-left: 5px; font-size: 22px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
						<i class="fa-solid fa-bars"></i>
					</span>
					
					<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
					  <div class="offcanvas-header">
					    <a href="/dashboard" class="offcanvas-title w-100 text-center" id="offcanvasWithBothOptionsLabel">
							<img src="/images/icon-logo.png" alt="home" width="50">
						</a>
					    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					  </div>
					  
					  <div class="offcanvas-body">
						 <ul>
							<a href="/dashboard"><li><span class="icon"><i class="fa-solid fa-gauge"></i></span>Dashboard</li></a>
							<a href="/users"><li><span class="icon"><i class="fa-solid fa-users"></i></span>Khách hàng</li></a>
							<a href="/staff"><li><span class="icon"><i class="fa-solid fa-users"></i></span>Nhân viên</li></a>
							
							<li class="menu-mini" data-bs-toggle="collapse" data-bs-target="#menu-product" aria-expanded="false" aria-controls="menu-product">
								<div><span class="icon"><i class="fa-solid fa-box-open"></i></span>Kho hàng</div>
								<span class="right"><i class="fa-solid fa-angle-right"></i>
							</li>
							<ul class="collapse show-menuMini" id="menu-product">
						    	<a href="/warehouse/addWareHouse"><li><span class="icon"><i class="fa-solid fa-plus"></i></span>Nhập kho</li></a>
						    	<a href="/warehouses"><li><span class="icon"><i class="fa-solid fa-list"></i></span>Danh sách</li></a>
							</ul>
							
							<a href="/orders"><li><span class="icon"><i class="fa-solid fa-file-invoice"></i></span>Đơn hàng</li></a>
						</ul>
					  </div>
					</div>
			    </div>
			    
				<div class="instruction">
					<a href="/admin">Quản trị viên</a>
					<span th:if="${instruction!=null}" th:id="${instruction}"></span>
				</div>
			</div>
			
			<div class="account">
				<div class="btn-group" sec:authorize="isAuthenticated()">
				  <div class="dropdown-toggle user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				    <i class="fa-solid fa-user"></i><span class="username" sec:authentication="name"></span>
				  </div>
				
				  <ul class="dropdown-menu dropdown-menu-end p-0 mt-2">
				    <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
				    <li><a class="dropdown-item" href="/account/update">Cập nhật tài khoản</a></li>
				    <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/lib/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/admin/menu.js"></script>
</html>