<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/css/admin/wareshouse.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>product</title>
</head>
<body>
	
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" id="name_pr" placeholder="name product">
	  <label for="name_pr">name product</label>
	</div>

	<div class="form-floating">
	  <input type="number" class="form-control" id="quantity_pr" placeholder="quantity product">
	  <label for="quantity_pr">quantity product</label>
	</div>
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" id="type_pr" placeholder="type product">
	  <label for="type_pr">type product</label>
	</div>
	<div class="form-floating">
	  <input type="text" class="form-control" id="unit_pr" placeholder="unit product">
	  <label for="unit_pr">unit product</label>
	</div>
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" id="package_id" placeholder="package id">
	  <label for="package_id">package id</label>
	</div>
	
	
	<form action="search-key" method="post">
		<input name="keywords" th:value="*{keywords}">
			<button>Search</button>
	</form>
	<table  border="1" style="width:100% ; font-size: large; text : center;">
		<tr>
			<td>name product</td>
			<td>quantity product</td>
			<td>type product</td>
			<td>unit product</td>
			<td>package id</td>
			
			<td></td>
		</tr>
	<div>
		
		<tr th:each="item : ${WHitems}">
			<td><span th:text="${item.id}"></span></td>
			<td><a href="/warehouse/edit/${WHitem.id}">Edit</a></td>
		</tr>
	</div>
	</table>
	<button type="button"><a href="/search-and-page?p=0">First</a></button>
	<button type="button"><a href="/search-and-page?p=${page.number-1}">Previous</a></button>
	<button type="button"><a href="/search-and-page?p=${page.number+1}">Next</a></button>
	<button type="button"><a href="/search-and-page?p=${page.totalPages-1}">Last</a></button>
	
	<div style="text-align: center;">
		<button type="button" class="btn btn-secondary">Thêm</button>
		<button type="button" class="btn btn-secondary">xóa</button>
		<button type="button" class="btn btn-secondary">Sửa</button>
	</div>
</body>
</html>