<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Dashboard</title>
</head>
<body>
	<!--th:action="${TFitem}" th:object="${TFitems} "-->
	<h2 style="text-align: center;">Trang Quản Lý Phương Tiện</h2>
	<form method="post" >
		<div class="form-floating mb-3">
		  <input type="text" class="form-control" name="id" placeholder="id" th:value="${TFitem.id}">
		  
		  <label for="id">Id</label>
		</div>
		
		
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" name="capacity" placeholder="capacity" th:value="${TFitem.capacity}">
	
	  <label for="capacity">Capacity</label>
	</div>
	
	<div class="form-floating">
	  <input type="text" class="form-control" name="dateBuy" placeholder="date_buy" th:value="${TFitem.dateBuy}">
	  <label for="dateBuy">Date_buy</label>
	</div>
	
	<div class="form-floating mb-3">
	  <input type="test" class="form-control" name="name" placeholder="name" th:value="${TFitem.name}">
	 
	  <label for="name">Name</label>
	</div>
	
	<div class="form-floating">
	  <input type="text" class="form-control" name="status" placeholder="status" th:value="${TFitem.status}">
	  
	  <label for="status">Status</label>
	</div>
	
	<div class="form-floating mb-3">
	  <input type="text" class="form-control" name="type" placeholder="type" th:value="${TFitem.type}">
	
	  <label for="type">Type</label>
	</div>
	
	<!--<div class="form-floating">
		<label>trip id</label>
	  <select th:field="*{trips}">
		  <option th:each="trip: ${trips} " th:value="${trip.id}" ></option>
	  </select>
	</div>-->
	<div class="form-floating mb-3">
	  <input th:if="${TFitem.trip != null}" type="text" class="form-control" id="trip_id" name="trip" placeholder="trip_id" th:value="${TFitem.trip.id}">
	  <input th:if="${TFitem.trip == null}" type="text" class="form-control" id="trip_id" name="trip" placeholder="trip_id">
	  <label for="trip_id">trip_id</label>
	</div>
	
	<div class="form-floating mb-3">
	  <input th:if="${TFitem.wareHouse != null}" type="text" class="form-control" id="warehouse_id" name="wareHouse" placeholder="warehouse_id" th:value="${TFitem.wareHouse.id}">
	  <input th:if="${TFitem.wareHouse == null}" type="text" class="form-control" id="warehouse_id" name="wareHouse" placeholder="warehouse_id">
	  <label for="warehouse_id">warehouse_id</label>
	</div>
	<h1 th:text="${message}"></h1>
	<div style="text-align: center;">
		<button type="submit" class="btn btn-secondary" formaction="/traffic/create">Thêm</button>
		<button type="submit" class="btn btn-secondary" formaction="/traffic/delete">xóa</button>
		<button type="submit" class="btn btn-secondary" formaction="/traffic/update">Sửa</button>
	</div>
	</form>
	
	<form action="/searchTF" method="post">
		<input name="id" th:value="${param.id}" placeholder="ID phương tiện">
		<button>tìm kiếm</button>
	</form>
	<table class="table table-bordered">
		<tr>
			<td>Id</td>
			<td>Capacity</td>
			<td>Date_buy</td>
			<td>Name</td>
			<td>Status</td>
			<td>Type</td>
			<td>Trip_id</td>
			<td>Warehouse_id</td>
			<td></td>
		</tr>
	<c:forEach th:each="item :${TFitems}">
		
		<tr >
			<td><span th:text="${item.id}"></span></td>
			<td><span th:text="${item.capacity}"></span></td>
			<td><span th:text="${item.dateBuy}"></span></td>
			<td><span th:text="${item.name}"></span></td>
			<td><span th:text="${item.status}"></span></td>
			<td><span th:text="${item.type}"></span></td>
			<td><span th:text="${item.trip.id}"></span></td>
			<td><span th:text="${item.wareHouse.id}"></span></td>
			<td><a th:href="'/traffic/edit/'+${item.id}" class="btn btn-danger">Edit</a></td>
			
		</tr>
	</c:forEach>
	</table>
	<!--<button type="button" class="btn btn-secondary"><a th:href="@{/traffic/page(p=0)}">First</a></button>
	<button type="button" class="btn btn-secondary"><a >Previous</a></button>
	<button type="button" class="btn btn-secondary"><a >Next</a></button>
	<button type="button" class="btn btn-secondary"><a >Last</a></button>-->
	
	
	
</body>
</html>