<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Dashboard</title>
<script src="/lib/jquery/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="/lib/bootstrap-5.3.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fontawesome-free-6.4.2-web/css/all.min.css">	
<link rel="stylesheet" href="/css/admin/menu.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
	<h2>Trang Quản Lí kho</h2>
	<div class="mb-3">
	  <label for="formGroupExampleInput" class="form-control">Address</label>
	  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nhập address">
	</div>
	<div class="mb-3">
	  <label for="formGroupExampleInput2" class="form-capacity">capacity</label>
	  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="nhập capacity">
	</div>
	<div class="mb-3">
	  <label for="formGroupExampleInput3" class="form-control">Name</label>
	  <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="nhập name kho">
	</div>
	<div class="mb-3">
	  <label for="formGroupExampleInput4" class="form-capacity">Phone</label>
	  <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="nhập số điện thoại">
	</div>
	<div class="mb-3">
	  <label for="formGroupExampleInput5" class="form-control">User_ID</label>
	  <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="chọn user_id">
	</div>
	<hr>
	<div style="text-align: center;">
		<button type="button" class="btn btn-secondary">Thêm</button>
		<button type="button" class="btn btn-secondary">xóa</button>
		<button type="button" class="btn btn-secondary">Sửa</button>
	</div>
	
	
</body>
<script src="/lib/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/admin/menu.js"></script>
</html>