<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Login - quản lý kho hàng</title>
<link rel="stylesheet" href="/lib/bootstrap-5.3.1-dist/css/bootstrap.css">
<link rel="icon" href="/images/icon-logo.png">
<link rel="stylesheet" href="/css/account/login.css">
<script src="/lib/jquery/jquery-3.7.1.min.js"></script>
<script src="/lib/bootstrap-5.3.1-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
	<div class="gradient-custom">
	  <div class="container py-5 h-80">
	    <div class="row d-flex justify-content-center align-items-center h-100">
	      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
	        <div class="card bg-dark text-white" style="border-radius: 1rem;">
	          <div class="card-body p-5 text-center">
	
	            <form th:action="@{/authenticateTheUser}" method="post" class="mb-md-5 mt-md-4 pb-4">
	
	              <h2 class="fw-bold mb-2 text-uppercase mb-5">ĐỔI MẬT KHẨU</h2>
	
	              <div class="form-outline form-white mb-4">
	                <label class="form-label" for="typeUsername">Mất khẩu</label>
	                <input type="text" id="typePassword" name="password" class="form-control form-control-lg" />
	              </div>
	
	              <div class="form-outline form-white mb-4">
	                <label class="form-label" for="typePassword">Mật mới</label>
	                <input type="password" id="typePassword1" name="password1" class="form-control form-control-lg" />
	              </div>
	              
	              <div class="form-outline form-white mb-4">
	                <label class="form-label" for="typePassword1">Xác nhận Mật khẩu mới</label>
	                <input type="password" id="typePassword2" name="password2" class="form-control form-control-lg" />
	              </div>
	              <p style="color: red; font-style: italic;" th:text="${message}"></p>
	              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/login">Quay lại</a></p>
	              <button class="btn btn-outline-light btn-lg px-5" th:formaction="'/khachhang/doimatkhau/'+${#authentication.name}">Hoàn Tất</button>
	            </form>
		         
	          </div>
	          
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>